<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de pacientes</title>
</head>
<body>
    <form action="#" th:action="@{/pacientes/salvarPaciente}" th:object="${paciente}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <label>
            Informe o nome do paciente:
        </label>
        <input type="text" th:field="*{nome}" placeholder="Nome">
        <br>
        <br>
        <label>
            Informe o CPF do paciente:
        </label>
        <input type="text" th:field="*{cpf}" placeholder="CPF">
        <br>
        <br>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>